<!DOCTYPE html>
<html lang="en">
<head>
	  <title>Wave duplicate labels</title>
    <meta charset='utf-8' />
    <meta name="description" content="Test : testing" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/stylesheet.css"> 
</head>
<body>
		<div id="wrapper">
			<div id="header"><a href="https://www.bbc.com">BBC</a></div>
			<div id="content">

			<label for="testId">Label</label>
			<input type="text" id="testId" />

			<label for="testId">Label</label>
			<input type="text" id="testId" />
			<input type="text" id="testId" />
			<br><br>

			<label for="testId">Label</label>
			<input type="text" id="testId" />

			<label id="uw0913043">Label</label>
			<input type="text" id="testId" aria-labelledby="uw0913043" />
			<input type="text" id="testId" aria-labelledby="uw0913043" />

			 <br><br>

<ul ng-switch-default="" class="ng-scope">		
<li ng-repeat="value in facet.values | filter:facet.search | limitTo:facet.overflow.limit track by $index" class="ng-scope">								<input ng-click="value.go()" ng-model="value.active" id="ss-customfield25-0" type="checkbox" class="ng-pristine ng-valid" data-uw-rm-form="nfx" data-uw-rm-kbnav="ngclick" role="button" tabindex="0">								<label for="ss-customfield25-0" class="ng-binding">USA Made <span class="facet-count ng-binding">(9)</span></label>							</li>
</ul>
<ul ng-switch-default="" class="ng-scope" style="opacity: 0">				

<li ng-repeat="value in facet.values | filter:facet.search | limitTo:facet.overflow.limit track by $index" class="ng-scope">								<input ng-click="value.go()" ng-model="value.active" id="ss-customfield25-0" type="checkbox" class="ng-pristine ng-valid" data-uw-rm-form="nfx" data-uw-rm-kbnav="ngclick" role="button" tabindex="0">								<label for="ss-customfield25-0" class="ng-binding">USA Made <span class="facet-count ng-binding">(9)</span></label>							</li>

</ul>

			</div> <!--content-->
		</div> <!--wrapper-->

	<script>

	</script>
	
</body>
</html>

